@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color:  #E6E6FA;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

h1 {
  padding: 30px;
}
.task {
  border: none;
  border-bottom: 1px solid black;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showList {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}

.showList > .span {
  display: flex;
  justify-content: space-between;
  width: 400px;
  background-color: #80d7ff;
  margin: 1px;
  border-radius: 4px;
  transition: 0.5s;
}

.showList .span p {
  padding: 8px;
  width: 100vw;
}

button {
  cursor: pointer;
  margin: 5px 5px 0px 3px;
  height: 25px;
  font-weight: 500;
  }

  .clearAllButton {
    visibility: hidden;
    margin: 10px auto;
    width: 120px;
  }

.paragrafoVisivel {
  background: #6969694b !important;
  opacity: 0.5;
  text-decoration: line-through;
}
